site_name: Arista AVD Fabric Documentation.
site_author: Arista Ansible Team
site_description: Arista Cloudvision collection's documentation
docs_dir: documentation/
# site_favicon: docs/_media/favicon.ico
theme:
  name: lumen
  features:
    - instant
  font:
    text: Ubuntu
    code: Ubuntu Mono
# extra_css:
#   - docs/stylesheets/extra.css
copyright: Copyright &copy; 2019 - 2020 Arista Networks
repo_name: Github
repo_url: https://github.com/aristanetworks/ansible-cvp
use_directory_urls: true
nav:
  - Fabric overview:
      - IPAM: DC1_FABRIC/{{ fabric_name | upper}}.md
  - Devices documentation:
{% for device in groups[fabric_name] %}
      - {{ device }}: devices/{{ device }}.md
{% endfor %}